/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Responsive general img */
img {
    max-width: 100%;
    height: auto;
}

/* Body */
.container {
    background-color: #f9f9f9;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav li a {
    color: #333333 !important;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    font-weight: bold;
    color: #333333 !important;
}

.navbarScroll.navbarDark {
    background-color: #333333;
}

.navbar.navbarScroll.navbarDark .navbar-nav li a {
    color: #ffffff !important;
}

.navbar.navbarScroll.navbarDark .navbar-nav li a:hover,
.navbar.navbarScroll.navbarDark .navbar-nav li a:focus {
    color: #ff5500 !important;
}

/* Hero background image */
.bgimage {
    height: 100vh;
    background: url('/images/main.jpg');
    background-size: cover;
    position: relative;
}

/* Text CSS hero image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 550px;
}

.title {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5rem;
}

.title-desc {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button */
a.btn {
    border-color: #ff5500;
    color: #ffffff;
    background-color: #ff5500;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

a.btn:hover {
    color: #ffffff;
    background-color: #512407;
}

/* Text format */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

p {
    color: #555555;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/* Card styling */
.card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 5px;
    border: none;
}

/* Services section CSS */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: #ff5500;
}

.card-title {
    text-align: center;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.card:hover .servicesIcon,
.card:hover .card-title {
    color: #ff5500;
}

/* Footer styling */
footer {
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
