
font-family: 'PT Serif', serif;

/* body */
.container-fluid{
    background-color: #fffddd;
    font-family: roboto;
}

/* nabar */
.navbar-brand {
    color:  #FDA913;
}
.navbar-brand:hover {
    color:#F79D00;
    font-weight: bold;
}
.navbar-nav li a {
    color: #282A35 !important;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus {
    font-weight: bold;
    color: #512407 !important;
}
.navbarScroll.navbarDark {
    background-color: #9C6137;
}
.navbar-nav > .active{
    color: #FDA913 !important ;
}

/* hero background image */
.bgimage {
    height: 100vh;
    background: url('/images/main.jpg');
    /* opacity: .9; */
    background-size:cover;
    position: relative;
}

/* text css above hero image*/
.title {
    color: #00abee;
    font-size:5rem;
    font-family: 'Pacifico', cursive;
}
.sub_title{
    font-size:4rem;
    color:#282A35;
    font-family: 'Pacifico', cursive;
}
.title_desc {
    font-size: 2rem;
    color:#282A35;
    font-family: 'Pacifico', cursive;
}
.hero-text {   
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button */
a.btn {
    border-color: #9C6137;
    color: #282A35;
    background-color: #B37A4C;
}
a .one{
    border-color: #00b7ff;
    color: #282A35;
    background-color: #2fc4ff;
}
a .two {
    color: #282A35;
    border-color: #2fc4ff;
}
a .one:hover,a .two:hover,a .fa-download,a .fa-envelope {
    color: #ffffff;
    background-color: #00abee;
}
a.btn:hover{
    color: #ffffff;
    background-color: #512407;
}
.top-icons .fa-linkedin, .top-icons .fa-twitter, .top-icons .fa-github{
    color:#282A35;
} 
.top-icons .fa-linkedin:hover, .top-icons .fa-twitter:hover, .top-icons .fa-github:hover{
    color:#00abee;
} 

/* text format */
h1, h3 {
    color:#512407;
}
p {
    color: #282A35;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius:10%;
}
#about .container{
    background-color:#FFF4C2;
    border-radius: 5%;
}

/* card body */
.servicesText.card,.servicesText.card-body{        
    background-color:#FFF4C2;
    border-radius: 10%;
}
.projectText.card,.projectText.card-body{        
    background-color:#FFF4C2;
    border-radius: 10%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: #9C6137;
}
.card-title {
    text-align: center;
    color: #9C6137;
}
.card:hover .servicesIcon,
.card:hover .card-title,
.card:hover li {

    color: #512407;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fab {
    color: #9C6137;
}
.fa-envelope,
.fa-download,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-github:hover {
    color: #512407;
}


/* footer styling */
#footer {
    /* color: blueviolet; */
    background-color: #FFF4C2;
    text-align: center;

}
#footer a{
    color: #282A35;
    text-decoration: none;
}